[Desktop Entry]
Name = Open in VS Code
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
X-KDE-Priority=TopLevel
Actions=openInVSCode

[Desktop Action openInVSCode]
Name=Open in VS Code
Name[nl]=Openen in VS Code
Name[cs]=Otevřít ve VS Code
Name[es]=Abrir en VS Code
Name[pl]=Otwórz za pomocą VS Code
Name[zh]=在 VS Code 中打开
Name[zh_CN]=在 VS Code 中打开
Name[de]=In VS Code öffnen
Name[hi]=VS Code में खोले
Name[ml]=VS Code ൽ തുറക്കുക
Name[mr]=VS Code मध्ये उघडा
Name[kn]=VS Code ನಲ್ಲಿ ತೆರೆಯಿರಿ
Icon=com.visualstudio.code
Exec=code %u
